@import "./variables.css";

.Cart {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  gap: 8px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  width: auto;
  transition: width 3s ease;
  z-index: 60;
}

.cart-counter {
  position: absolute;
  top: 16%; /* Ajusta según sea necesario */
  right: 20%; /* Ajusta según sea necesario */
  background-color: var(--purple-alpha-color);
  color: var(--primary-purple-color);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cart.open {
  width: 100%;
  box-sizing: border-box;
  max-width: 520px;
}

.Cart.closed {
  right: 0;
  width: auto;
}

.cart-container {
  align-items: center;
  justify-content: center;
  width: auto;
  transition: width 2s ease, opacity 1s ease;
}

.cart-container.show {
  width: 100%;
  opacity: 1;
}

.cart-container.hide {
  width: auto;
}

.cart-box {
  background-color: #fff;
  padding: 6px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.3);
  border-radius: 99px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: auto;
}

.cart-box-detailed {
  flex-direction: row;
}

.cart-detailed-top {
  margin-bottom: 12px;
}

.cart-detailed-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  max-height: 580px;
  max-width: 520px;
}

.cart-first-column {
  display: flex;
  align-items: center;
}

.cart-icon-box {
  border-radius: 99px;
  background-color: var(--primary-purple-color);
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-icon {
  display: flex;
  align-items: center;
}

.cart-icon svg {
  color: #fff;
  width: 28px;
  height: 28px;
}

.cart-content-box {
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  text-align: left;
  cursor: pointer;
  /* overflow: hidden; */
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.cart-content-box h4 {
  font-size: 16px;
}

.cart-content-box span {
  font-size: 14px;
}

.cart-content-box.show {
  max-height: 36px;
  opacity: 1;
}

.cart-content-box.hide {
  opacity: 0;
  max-width: 0px;
  padding: 0px;
}

.cart-action-box {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-left: 24px;
  color: var(--primary-purple-color);
  gap: 6px;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
  cursor: pointer;
  transform: translateX(-14px);
}

.cart-action-box:hover {
  transform: translateX(0px);
  color: var(--primary-purple-color);
  stroke: var(--primary-purple-color);
}

.cart-action-box.show {
  max-height: 50px; /* Ajusta esto según sea necesario */
  opacity: 1;
}

.cart-action-box.hide {
  opacity: 0;
  max-width: 0px;
  padding: 0px;
  margin: 0px;
}

.cart-box-detailed {
  background-color: rgba(255, 255, 255);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  /* backdrop-filter: blur(16px); */
}

.cart-box-detailed.show {
  max-height: 700px; /* Ajusta esto según sea necesario */
  opacity: 1;
}

.cart-box-detailed.hide {
  max-height: 0;
  opacity: 0;
  display: none;
}

.cart-detailed-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
}


.more-detailed-button {
  color: var(--primary-purple-color);
  font-weight: 400;
  font-style: italic;
}