@import "./variables.css";

.container {
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
}

.container-top {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0px;
  padding: 0px 0px 8px;
  align-items: center;
  border-bottom: 1px solid var(--gray-5);
}

.title-search {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 16px;
  gap: 4px;
  width: 50%;
  align-items: center;
}

.title-nav-main {
  display: flex;
  gap: 4px;
  align-items: center;
}

.title-nav-main svg {
  cursor: pointer;
}

.title-search-control {
  display: flex;
  width: 100%;
}

.title-search h2 {
  font-size: 16px;
  line-height: 20px;
  background-color: var(--purple-alpha-color);
  border-radius: 16px;
  padding: 4px 12px;
}

.title-search input {
  width: 100%;
  border: none;
  /* border-bottom: 1px solid var(--gray-5); */
  border-radius: 0px;
  font-size: 16px;
}

.top-nav {
  display: flex;
  gap: 8px;
}

.control {
  display: flex;
  flex-direction: column;
}

.control label {
  font-size: 14px;
  font-weight: 300;
  color: var(--gray-3);
}

.control select {
  color: var(--gray-3);
  padding: 4px 8px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 6px 4px 16px;
  }

  .container-top {
    flex-direction: column;
    padding: 4px;
    margin-bottom: 8px;
    z-index: 30;
    border-radius: 16px;
    border: none;
  }

  .title-search {
    width: 100%;
    flex-direction: column;
    align-items: baseline;
  }

  .title-search input {
    padding: 0px;
  }

  .title-search button {
    background-color: transparent;
    color: var(--gray-3);
    padding: 0px;
    display: flex;
    align-items: center;
    font-weight: 400;
  }

  .top-nav {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 12px;
  }

  .content-category {
    border-top: 1px solid var(--gray-5);
    padding-top: 24px;
    min-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
}
