@import "./variables.css";

.productsContainer {
  width: 100%;
}

.mobileProductsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.bannerProducts {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columnas */
  gap: 20px; /* Espaciado entre productos */
  max-width: 100%; /* Limitar el ancho visible al tamaño de la ventana */
}

.product-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-not-found span {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.product-not-found img {
  max-width: 180px;
}

@media screen and (max-width: 768px) {
  .bannerProducts {
    display: grid;
    grid-template-columns: max-content;
    max-width: 100vw;
  }

}
