@import "./variables.css";

.Header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
}

.header-container {
  padding: 0.8rem 0.8rem 0;
  position: relative;
}

.content {
  display: flex;
  justify-content: flex-start;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px 4px 12px 0px #ede8ef;
  background-color: #fff;
  padding: 12px 24px;
  gap: 20px;
  z-index: 100;
  position: relative;
}

.content div {
  display: flex;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.SecondBar {
  background-color: var(--purple-alpha-color);
  padding: 6px 24px;
  transform: translateY(-1px);
  z-index: 60;
  position: relative;
  border-radius: 0px 0px 16px 16px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.SecondBarLeft {
  display: flex;
  width: 30%;
  gap: 16px;
  justify-content: start;
  align-items: center;
}

.SecondBarRight {
  display: flex;
  width: 70%;
  gap: 16px;
  justify-content: end;
  align-items: center;
}

.SecondBar span {
  font-size: 14px;
  cursor: pointer;
  color: var(--primary-purple-color);
  opacity: 50%;
}

.SecondBar span:hover {
  opacity: 100%;
}

.firstContent {
  justify-content: left;
  width: 70%;
}

.firstContent img {
  margin: 0px;
}

.logo-search-mobile {
  width: 100%;
  border-radius: 16px;
  padding: 4px 8px;
  gap: 16px !important;
  display: flex;
  align-items: center;
}

.box-search-header {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.box-search-header input {
  outline: none !important;
  font-size: 16px !important;
  padding: 10px 12px !important;
  width: 100%;
}

.box-search-header input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-3);
}

.searchButtonHeader {
  position: absolute;
  right: 6px;
  top: 50% !important;
  transform: translateY(-50%) !important;
  background: var(--purple-alpha-color);
  border: none;
  cursor: pointer;
  padding: 4px 6px 2px;
}

.searchButtonHeader:hover {
  background-color: var(--primary-purple-color);
  color: #fff;
}

.searchButtonHeader:focus {
  outline: none;
}

.searchButtonHeader svg {
  color: var(--primary-purple-color);
  width: 20px;
  height: 20px;
}

.searchButtonHeader:hover svg {
  color: #fff;
}

.secondContent {
  border-radius: 16px;
  border: 1px solid var(--gray-5);
  width: 60%;
  padding: 4px 12px;
  color: var(--gray-3);
}

.thirdContent {
  justify-content: right;
  font-size: 14px;
  width: 30%;
}

.content svg {
  color: var(--primary-purple-color);
  cursor: pointer;
}

.content img {
  cursor: pointer;
}

.thirdContent button:first-child {
  background-color: transparent;
  color: var(--primary-purple-color);
  padding: 0px;
  border: none;
}

.thirdContent button:first-child:hover {
  border: none;
}

.thirdContent button:focus {
  outline: none;
}

.profile-card {
  cursor: pointer;
}

.profile-card img {
  width: 52px;
  height: 52px;
  margin: 0;
  border-radius: 16px;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animación de salida */
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.navbar {
  background: white;
  border-radius: 0px 8px 8px 0px;
  z-index: 1001;
  position: fixed;
  left: 0;
  height: 100vh;
  animation: slideIn 0.3s ease-in-out;
  transform: translateX(-100%);
  text-align: left;
}

.navbar svg {
  color: #828282;
  cursor: pointer;
}
.navbar.open {
  transform: translateX(0);
  opacity: 1;
}

.navbar.closed {
  transform: translateX(-100%);
  opacity: 0;
}

.navbarContent {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.navbarHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 80px;
  padding: 8px;
}

.navbarMain {
  padding: 20px 0px;
}

.navbar-option {
  /* border-bottom: 1px solid #e0e0e0; */
  cursor: pointer;
  padding: 12px;
  color: var(--black-color);
  border-radius: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: color 0.2s, background-color 0.3s;
}

.navbar-option svg {
  color: var(--black-color);
}

.navbar-option:hover {
  color: var(--primary-purple-color) !important;
  background-color: var(--purple-alpha-color);
}

.navbar-option:hover svg {
  color: var(--primary-purple-color) !important;
}

.navbar-option:last-child {
  border-bottom: none;
}

.navbarBottom {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 40px 0px;
  gap: 20px;
}

.navbarBottom span {
  font-size: 14px;
  font-weight: 700;
}

.navbarBottom p {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-3);
}

.navbarAccount .navbarInfo {
  padding-bottom: 30px;
}

.navbar-option-bottom {
  color: var(--black-color);
  padding: 4px 0px;
  border-radius: 8px;
  font-weight: 400;
}

.navbar-option-bottom:hover {
  color: var(--primary-purple-color);
}

.navbarAccountOff {
  display: flex;
  justify-content: space-between;
  background-color: var(--purple-alpha-color);
  border-radius: 99px;
  cursor: pointer;
  align-items: center;
  padding: 0px 4px;
}

.navbarAccountOffLeft {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 4px 6px;
}

.navbarAccountOffLeft p {
  color: var(--primary-purple-color);
  font-size: 14px;
}

.navbarAccountOff svg {
  color: var(--primary-purple-color);
}

.navbarAccountOffRight {
  display: flex;
  align-items: center;
}

.profile-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 180px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: block !important;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.2s ease;
  border-radius: 8px;
  color: var(--black-color);
}

.menu-item a {
  color: var(--black-color);
}

.menu-item:hover {
  background-color: var(--purple-alpha-color);
  color: var(--primary-purple-color);
}

.search-dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid var(--gray-5);
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.search-result-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: var(--purple-alpha-color);
}

.search-result-item img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
  z-index: 60; /* Asegúrate de que esté encima del contenido */
}

.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 12px;
  z-index: 1001; /* Encima del overlay */
  box-sizing: border-box;
}

.dropdown-container-in {
  display: flex;
  gap: 2px;
  background-color: white; /* Fondo blanco */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  z-index: 1001; /* Encima del overlay */
  padding: 8px 0;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  text-align: left !important;
  gap: 12px;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 16px;
  color: var(--black-color);
  transition: background-color 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: var(--purple-alpha-color);
  color: var(--primary-purple-color);
}

.dropdown-no-results {
  text-align: center;
  padding: 16px;
  color: var(--gray-3);
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 10px 8px;
    gap: 12px;
  }

  .dropdown-container {
    flex-direction: column;
  }

  .dropdown-container-in {
    flex-direction: column;
    gap: 12px;
  }

  .firstContent {
    width: 85%;
    gap: 8px !important;
  }
  .thirdContent {
    width: 15%;
  }
  .logo-search-mobile {
    border: 1px solid var(--gray-5);
    width: 100%;
    border-radius: 16px;
    padding: 4px 8px;
    gap: 10px !important;
    display: flex;
    align-items: center;
  }

  .box-search-header {
    border-left: 1px solid var(--gray-5);
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .box-search-header input {
    border: none !important;
    padding: 6px 12px !important;
  }

  .searchButtonHeader {
    right: 0;
  }

  .thirdContent button {
    display: none !important;
  }

  .SecondBar {
    padding: 4px;
  }

  .SecondBarLeft {
    width: 100%;
    justify-content: center;
  }

  .SearchBarWrapper {
    display: none !important;
  }
  .secondContent {
    display: none !important;
  }
  .profile-card .username {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .thirdContent button {
    display: none !important;
  }
  .SearchBarWrapper {
    display: none !important;
  }
}
