@import "./variables.css";

body {
  background-color: #fff !important;
}

.section-banner {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 6px 24px;
  display: none;
}

.carousel-container {
  display: none;
}

.Banner2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-height: 580px;
  justify-content: center;
  padding: 1rem;
}



.FirstBanner {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.FirstBanner p {
  font-size: 20px;
  line-height: 32px;
}

.FirstBanner ul {
  list-style: none;
  padding: 0px 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.FirstBanner li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.FirstBanner li svg {
  margin-right: 5px;
  width: 20px;
}

.SecondBanner {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.SecondProducts {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 16px;
  padding: 1em;
  width: 420px;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  overflow: hidden;
}

.SecondProductsCard {
  width: 100%;
  background-color: #f6f6f6;
}

.SecondProducer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.SecondProducer img {
  width: 180px;
  transform: translateX(-16px) translateY(-16px);
}

.searchbar-products {
  position: sticky;
  /* background-color: #f6f6f6; */
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.products button {
  padding: 48px;
}

.Faqs {
  padding: 12px 8px;
}

.Faqs h3 {
  color: var(--gray-3);
  margin: 12px 0px;
  font-weight: 500;
}

.Faqs hr {
  border: 0.1em solid var(--gray-7);
}

.cta-mobile {
  display: none;
}

@media screen and (max-width: 576px) {
  .Banner2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 2px;
    justify-content: start;
  }

  .FirstBanner {
    width: 100%;
  }

  .FirstBanner p {
    font-size: 16px;
    line-height: 20px;
  }

  .FirstBanner ul {
    display: none;
  }

  .SecondBanner {
    width: 100%;
    padding: 0px;
  }
  .SecondProducts {
    padding: 0px;
  }

  .SecondProducer {
    display: none;
  }
  .carousel-container {
    display: flex;
    margin-top: 12px;
  }


  .highlights {
    display: none;
  }

  .section-banner {
    display: block;
  }

  .cta-desktop {
    display: none;
  }

  .searchbar-products {
    background-color: #fff;
  }
}
