@import "./variables.css";

.Layout {
  margin: 90px auto 20px;
  max-width: 1140px !important;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem;
  min-height: 70vh;
  max-width: 640px;
  text-align: left;
}

.CanvasPage {
  margin: 0px auto ;
  min-height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .Layout {
    padding: 0.1rem 1rem;
  }
}
