@import "./variables.css";

.Layout {
  margin: 0px auto 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  padding: 1rem 1rem 1rem 1rem;
  min-height: 70vh;
  text-align: left;
}

.CanvasPage {
  margin: 0px auto ;
  min-height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /* justify-content: center; */
}

@media screen and (max-width: 576px) {
  .Layout {
    padding: 6rem 1rem;
  }
  .CanvasPage {
    padding: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .Layout {
    padding: 1rem 1rem;
    max-width: 1580px;
  }
}

