@import "./variables.css";

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  align-items: center;
}

.box-form {
  display: flex;
  background-color: #fff;
  border-radius: 16px;
  padding: 32px 16px;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  max-width: 100%;
}

.errorMessage {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.info-column {
  padding: 24px;
  height: 100%;
}

.info-content {
  padding: 48px;
  background-color: var(--purple-alpha-color);
  border-radius: 16px;
  color: var(--primary-purple-color);
  height: 100%;
  box-sizing: border-box;
}

.form-column {
  padding: 24px;
  height: 100%;
  align-content: center;
  max-width: 100vw;
  box-sizing: border-box;
}

.title-form {
  text-align: left;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title-form p {
  font-size: 16px;
  line-height: 20px;
}

.content-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 480px;
  max-width: 100vw;
}

.content-form form {
  max-width: 100%;
}

.element-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
}

.element-form:first-child {
  margin-bottom: 8px;
}

.element-form label {
  font-size: 14px;
  color: var(--black-color);
}

.element-form input {
  border-radius: 16px;
  border: 1px solid var(--gray-5)!important;
  padding: 12px;
  border: none;
}

.HeaderTitleForm {
  display: flex;
  align-items: center;
  gap: 6px;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.password-toggle svg {
  width: 16px;
  height: 16px;
}

.forget-password {
  display: flex;
  justify-content: end;
  padding: 12px;
}

.forget-password span {
  font-size: 12px;
  color: var(--gray-3);
  cursor: pointer;
}

.content-form button {
  width: 100%;
}

.go-signup {
  display: flex;
  justify-content: center;
  text-align: center;
}

.go-signup span {
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .Container {
    justify-content: flex-start;
  }
  .HeaderTitleForm {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .box-form {
    display: flex;
    flex-direction: column-reverse;
  }
  .content-form {
    width: auto;
  }

  .form-column {
    padding: 0px;
    width: 100%;
  }
  h2 {
    font-size: 32px;
    line-height: 48px;
  }
}
