@import "./variables.css";

.canvas-container {
  min-height: 100vh;
  min-width: 100%;
}

.canvas-box {
  padding: 0px 12px;
  position: relative;
}

.canvas-header {
  padding: 8px 0px 0px;
  border-radius: 16px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.header-first {
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.header-first h1 {
  font-size: 24px;
  line-height: 32px;
}

.header-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo img {
  margin-top: 0px;
}

.header-title {
  display: flex;
  gap: 4px;
  align-items: center;
}

.buttons-profile {
  display: flex;
  gap: 6px;
}

.header-profile button:first-child {
  background-color: transparent;
  color: var(--primary-purple-color);
  padding: 0px;
  border: none;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-card img {
  width: 52px;
  height: 52px;
  margin: 0;
  border-radius: 16px;
}
.username {
  display: flex;
  align-items: center;
}

.header-second {
  display: flex;
  background-color: var(--purple-alpha-color);
  border-radius: 0px 0px 16px 16px;
  justify-content: center;
}

.canvas-content {
  padding: 8px 0px;
}

.order-content {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.canvas-action {
  position: fixed;
  bottom: 0;
  padding: 12px 0px;
  display: flex;
  width: calc(100% - 24px);
}

.order-subtotal {
  padding: 12px 24px;
  background-color: #fff;
  border-radius: 99px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.order-subtotal-content {
  display: flex;
  flex-direction: column;
}

.order-subtotal-content p {
  font-weight: 800;
}

.order-subtotal-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  color: var(--primay-purple-color);
  cursor: pointer;
}

.order-subtotal-button:hover {
  color: var(--primary-purple-color);
  stroke: var(--primary-purple-color);
  transform: translateX(8px);
}

.order-subtotal-button p {
  font-weight: 500;
}

@media screen and (max-width: 768px) {

  .canvas-container {
    background-color: #f6f6f6;
  }

  .header-first h1 {
    font-size: 20px;
    line-height: 24px;
  }
  .header-first {
    min-height: 50px;
    border-radius: 16px;
  }
  .header-logo img {
    display: none;
  }
  .buttons-profile {
    display: none;
  }
  .header-second {
    display: none;
  }
  .order-content {
    flex-direction: column;
  }
}
