@import "./variables.css";

.card {
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 16px;
  width: 100%;
  box-sizing: border-box;
  border:  1px solid #fafafa;
}

.main-product {
    width: 100%;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .card {
        width: 40%;
    }
    .card img {
        width: 180px;
    }
}