@import "./variables.css";

.product-box {
  border: 1px solid var(--gray-5);
  border-radius: 16px;
  padding: 12px;
  min-width: 180px;
  background-color: #fff;
}

.product-box-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  height: 100%;
}

.product-image {
  position: relative;
}

.product-image img {
  width: 160px;
  height: 100%;
  object-fit: cover;
}

.promo-label {
  position: absolute;
  background-color: var(--organe-alpha-color);
  color: var(--secondary-organge-color);
  border-radius: 16px;
  padding: 2px 6px;
  top: 0;
  right: 0;
}

.product-info p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.product-variables {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.product-variable {
  display: flex;
  gap: 4px;
  width: 100%;
}

.product-variables select {
  padding: 2px;
}

.product-info label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gray-3);
}

.product-price {
  display: flex;
  flex-direction: column;
}

.product-pricePromo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.product-pricePromo span:first-child {
  background-color: var(--organe-alpha-color);
  color: var(--secondary-organge-color);
  padding: 2px 6px;
  border-radius: 16px;
}

.product-pricePromo span:last-child {
  text-decoration: line-through;
  color: var(--gray-3);
  font-weight: 300;
  font-style: italic;
}

.product-priceMain {
  display: flex;
  gap: 6px;
  align-items: center;
}

.product-priceMain p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-priceMain span {
  font-weight: 300;
}

.product-pricePum span {
  font-weight: 300;
  font-style: italic;
  color: var(--gray-3);
  font-size: 12px !important;
  line-height: 16px;
}

.product-action {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-addButton {
  display: flex;
  align-items: center;
  background-color: var(--gray-7);
  border-radius: 16px;
  gap: 6px;
  width: 90%;
}

.adding-animation .addButton-iconCompra {
  transition: transform 0.5s ease;
  transform: translateX(10px); /* Ajusta el desplazamiento según lo necesites */
}

.product-box-second {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-addButton svg{
  stroke: #1c1c1c ;
  padding: 6px  ;
  border-radius: 16px;
  cursor: pointer;
}

.addButton-iconCompra {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.addButton-iconCompra svg {
  stroke: #fff;
  padding: 6px 16px;
  background-color: var(--primary-purple-color);
  border-radius: 16px;
}

.product-addButton span {
  width: calc(100% - 8px);
  text-align: center;
}

.product-showExtend {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.product-extend {
  margin-top: 4px;
}

.product-extend span {
  font-size: 12px;
  line-height: 16px;
}

.option-disabled {
  color: #999;
  background-color: #f9f9f9;
  pointer-events: none;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .product-box {
    width: 140px;
  }

  .product-info label {
    display: none;
  }
}