@import "./variables.css";

.password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 480px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  width: 100%;
  margin-top: 12px;
}

.form-group label {
  font-size: 14px;
  color: var(--black-color);
}

.form-group input {
  border-radius: 16px;
  border: 1px solid var(--gray-5);
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.inputs {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.password-toggle svg {
  width: 16px;
  height: 16px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  border-radius: 16px;
  background-color: var(--primary-purple-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: var(--primary-purple-dark-color);
}
