@import "./variables.css";

.productsContainer {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.bannerProducts {
  margin: 20px 0;
  display: flex; /* Cambiamos a flexbox para una sola fila */
  overflow-x: auto; /* Habilitar desplazamiento horizontal */
  scroll-snap-type: x mandatory; /* Habilitar snapping para productos */
  -webkit-overflow-scrolling: touch; /* Scroll suave en dispositivos táctiles */
  gap: 20px; /* Espaciado entre productos */
  max-width: 100%; /* Limitar el ancho visible al tamaño de la ventana */
}

.bannerProducts > * {
  flex: 0 0 calc(100% / 6); /* Mostrar 6 productos visibles */
  scroll-snap-align: start; /* Snap al principio del producto */
}


.bannerProducts::-webkit-scrollbar {
  display: none; /* Ocultar barra en navegadores basados en Webkit */
}

.product-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-not-found span {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.product-not-found img {
  max-width: 180px;
}

@media screen and (max-width: 768px) {
  .bannerProducts {
    gap: 12px;
    padding: 0 8px; /* Ajusta el padding en móviles */
    max-width: 100vw;
  }

  .bannerProducts > * {
    flex: 0 0 80%; /* Ajusta el tamaño de los productos en móviles */
    min-width: 80%; /* Mantén los productos dentro del viewport */
  }
}
