@import "./variables.css";

.container {
  display: flex;
  gap: 20px;
  max-width: 100vw;
}

.sidebar {
  width: 20%;
  background-color: #fff;
  border-radius: 16px;
  padding: 12px;
}

.sidebar-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--purple-alpha-color);
  border-radius: 12px;
  padding: 12px;
}

.sidebar-title img {
  width: 140px;
}

.button-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 8px;
  margin: 12px 0px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  max-width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.button-carousel::-webkit-scrollbar {
  display: none;
}

.button-option {
  border-radius: 99px;
  background-color: var(--purple-alpha-color);
  color: var(--primary-purple-color);
  padding: 2px 12px;
  white-space: nowrap;
  flex-shrink: 0;
  display: inline-block;
}

.button-option:hover {
  background-color: var(--primary-purple-color);
  color: var(--purple-alpha-color);
}

.button-option span {
  font-size: 14px;
  font-weight: 500;
}

.button-carousel button {
  padding: 4px 12px !important;
}

.content {
  width: 100%;
  max-width: 100vw; /* Limita el ancho al tamaño del viewport */
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.content-nav {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.content-nav-item {
  background-color: var(--purple-alpha-color);
  padding: 32px 16px 6px 16px;
  width: 100%;
  display: flex;
  border-radius: 16px;
  justify-content: left;
  align-items: center;
  align-content: center;
  margin-bottom: 12px;
}

.content-nav-item p{
    font-weight: 600;
}

.content-section {
  border: 1px solid red;
}

.content-section-header {
  display: flex;
  justify-content: space-between;
}

.content-section-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.content-section-arrows svg {
  cursor: pointer;
  border-radius: 99px;
}

.content-section-arrows svg:hover {
  background-color: var(--purple-alpha-color);
}

@media screen and (max-width: 768px) {  
  .container {
    flex-direction: column;
    padding: 0;
  }

  .sidebar {
    display: none;
  }

  .content {  
    max-width: 100vw;
    padding: 0 16px;
  }
}