@import "./variables.css";

.container {
  display: flex;
  gap: 20px;
  max-width: 100vw;
  padding: 0px;
}

body {
  background-color: #f8f8f8;
}

.sidebar {
  width: 20%;
  background-color: #fff;
  border-radius: 16px;
  padding: 12px;
}

.sidebar-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--purple-alpha-color);
  border-radius: 12px;
  padding: 12px;
}

.sidebar-title img {
  width: 140px;
}

.button-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 12px;
  margin: 12px 0px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  max-width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.button-carousel::-webkit-scrollbar {
  display: none;
}

.button-option {
  border-radius: 16px;
  background-color: var(--purple-alpha-color);
  color: var(--primary-purple-color);
  padding: 8px;
  white-space: nowrap;
  flex-shrink: 0;
  display: inline-block;
  min-width: 80px;
  cursor: pointer;
}

.button-option:hover {
  background-color: var(--primary-purple-color);
  color: var(--purple-alpha-color);
}

.button-option:nth-child(1) {
  background-color: #ede8ef;
  color: #44175b;
}

.button-option:nth-child(1):hover {
  background-color: #44175b;
  color: #ede8ef;
}

.button-option:nth-child(2) {
  background-color: #fef2ec;
  color: #f27c40;
}

.button-option:nth-child(2):hover {
  background-color: #f27c40;
  color: #fef2ec;
}

.button-option:nth-child(3) {
  background-color: #f4f9f3;
  color: #8cc084;
}

.button-option:nth-child(3):hover {
  background-color: #8cc084;
  color: #f4f9f3;
}

.button-option:nth-child(4) {
  background-color: #e7f1f1;
  color: #0f7173;
}

.button-option:nth-child(4):hover {
  background-color: #0f7173;
  color: #e7f1f1;
}

.button-option span {
  font-size: 14px;
  font-weight: 500;
}

.button-carousel button {
  padding: 4px 12px !important;
}

.content {
  width: 100%;
  max-width: 100vw; /* Limita el ancho al tamaño del viewport */
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
}

.content-nav {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.content-nav-item {
  background-color: var(--purple-alpha-color);
  padding: 32px 16px 6px 16px;
  width: 100%;
  display: flex;
  border-radius: 16px;
  justify-content: left;
  align-items: center;
  align-content: center;
  margin-bottom: 12px;
}

.content-nav-item p{
    font-weight: 600;
}

.content-section {
  display: grid;
  margin-top: 12px;
}

.content-section-header {
  display: flex;
  justify-content: space-between;
}

.content-section-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 10;
}

.content-section-arrows svg {
  cursor: pointer;
  border-radius: 99px;
}

.content-section-arrows svg:hover {
  background-color: var(--purple-alpha-color);
}

a span {
  color: var(--primary-purple-color);
}


@media screen and (max-width: 768px) {  
  body {
    background-color: #fff;
  }
  
  .container {
    flex-direction: column;
    padding: 0;
  }

  .sidebar {
    display: none;
  }

  .content {  
    max-width: 100vw;
    padding: 0 8px;
    background-color: #fff;

  }
  h3 {
    font-size: 20px;
    line-height: 32px;
  }
}