:root {
    --primary-purple-color: #44175B;
    --secondary-organge-color: #F27C40; 
    --light-green-color: #8CC084;
    --blue-green-color: #0F7173;
    --black-color: #1E1E1E;
    --purple-alpha-color: #EDE8EF;
    --organe-alpha-color: #FEF2EC;
    --green-alpha-color: #F4F9F3;
    --blue-alpha-color: #E7F1F1;
    --gray-alpha-color: #E9E9E9;
    --gray-3: #828282;
    --gray-5: #eaeaea;
    --gray-7: #f8f8f8;
}